body {
    background: #edf2f7;
    color: #1a202c;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.7;
    margin: 0;
    padding: 0;
}

section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header, h2 {
    color: #333;
    text-align: center;
}

header h2 {
    font-size: 3rem;
    margin: 0.5rem 0;
}

section#welcome {
    background: #fff;
    padding: 40px 20px;
    text-align: center;
}

section#latest-posts h2 {
    color: #5D6473;
    margin-bottom: 20px;
    font-size: 2.2rem;
}

section#latest-posts ul {
    list-style-type: none;
    padding: 0;
}

section#latest-posts li {
    background: #ffffff;
    margin-bottom: 15px;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

section#latest-posts li:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.post {
    display: block;
    text-decoration: none;
    color: inherit;
}

.post__content {
    padding: 20px;
    transition: background-color 0.3s ease;
}

.post__content h3 {
    font-size: 1.2rem;
    margin: 0;
}

.post__content p {
    font-size: 1rem;
    line-height: 1.5;
}

section.about h2 {
    color: #5D6473;
    font-size: 2.2rem;
}

/* Responsive Design */
@media (min-width: 768px) {
    .post__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .post__content h3 {
        flex-basis: 40%;
    }

    .post__content p {
        flex-basis: 60%;
    }
}

.text-center {
    text-align: center;
}

a {
    color: #3182ce;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

