{% extends "base.html" %}
{% load static %}

{% block title %}
Vihaan's Blog Site
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static "blog/index.css" %}">
{% endblock %}

{% block content %}
<section id="welcome">
    <header>
        <h2>Vihaan</h2>
    </header>
    <p>
        Hi, I am Vihaan and I love to cook healthy food.
    </p>
</section>

<section id="latest-posts">
    <h2>My Latest Posts</h2>
    <ul>
        <li>
            <article class="post">
                <div class="post__content">
                    <h3>Healthy Smoothie</h3>
                    <p>
                        Smoothies are a great way to start your healthy day.
                        Try a smoothie for breakfast.
                        Keeps you energetic and full of vigour.
                    </p>
                </div>
            </article>
        </li>
       
    </ul>
</section>

<section class="about">
    <h2>About Me</h2>
    <p>
        I love to write programs and love to cook.
    </p>
    <p>
        My goal is to teach programming and help people with obesity and diabetes.
    </p>
</section>
{% endblock %}
